.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    overflow: auto;
    color: #ffffff;
}

.profilePic {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin: 20px;
    transition: transform 0.3s ease;
}

.profilePic:hover {
    transform: scale(1.05);
}

.homeDesc {
    color: #ffffff;
    margin: 20px;
    padding: 10px;
    max-width: 800px;
    width: 100%;
    transition: transform 0.3s ease;
    line-height: 1.6;
}

.homeDesc:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .homePage {
        padding: 10px;
    }

    .profilePic {
        max-width: 200px;
        max-height: 200px;
    }

    .homeDesc {
        line-height: 1.5;
    }

    h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .homePage {
        height: auto;
        padding-top: 50px;
    }

    h4 {
        font-size: 1.2rem;
    }
}
